@import "tailwindcss";

@plugin "daisyui" {
  themes: night --default, light;
}

@plugin "daisyui/theme" {
  name: "night";
  
  --color-base-100: #030014;       
  --color-base-200: #0d0124;   
  
  --color-primary: #8a2be2;        
  --color-secondary: #00ffff;     
  
  --color-base-content: #e0d9f0;  }